:root{
  --nav-size: 4em;

  --game-size: 300px;
}

.wrapper{
  margin-top: var(--nav-size);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  margin-bottom: 5em;
}